#body1 {
  background-color: rgb(52, 52, 143);
  height: 95vh;
  width: 100fr;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(10, 9%);
  grid-template-rows: repeat(10, 9%);
  gap: 1%;
}

#header1 {
  background-color: rgb(214, 52, 52);
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 10px;

  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  color: rgb(204, 204, 204);

  display: flex;
  align-items: center;

  grid-column: 1/11;
  grid-row: 1/3;
}

#header1 h1 {
  margin-left: 20px;
}

#section1 {
  background-color: rgb(5, 5, 5);
  height: 550px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 10px;
  color: rgb(204, 204, 204);

  grid-column: 3/11;
  grid-row: 3/10;
}

#section1 h2 {
  margin-bottom: -10px;
  margin-top: 30px;
}

#section2 {
  background-color: rgb(70, 172, 158);
  border-radius: 20px;
  padding: 25px;

  grid-column: 1/3;
  grid-row: 3/7;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#section2 h3 {
  margin-left: 20px;
  margin-bottom: -5px;
}

#footer1 {
  background-color: rgb(120, 129, 120);
  border-radius: 30px;
  height: 60px;
  margin-top: 10px;

  display: flex;
  align-items: center;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  color: rgb(204, 204, 204);

  grid-column: 1/11;
  grid-row: 11/12;
}

#footer1 a {
  margin-left: 7px;
}
